#home {
.container {
  background-color: white;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.späti-text {
  color: black;
  font-size: 10vw;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px yellow, -2px -2px 5px yellow, 2px -2px 5px yellow, -2px 2px 5px yellow;
  font-family: "Sigmar", sans-serif;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.späti-text span {
  display: inline-block;
  transition: color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}

.späti-text span:hover {
  color: yellow;
  text-shadow: 2px 2px 5px black, -2px -2px 5px black, 2px -2px 5px black, -2px 2px 5px black;
}

.späti-button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: yellow;
  color: black;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.späti-button:hover {
  background-color: black;
  color: yellow;
}
}
