.spati-list {
  overflow: scroll;
}

.centerforspati {
  display: flex;
  flex-direction: column;
}

.index-container {
  display: flex;
  // padding: 15px;
}

.späti, .map {
  width: calc(100%);
  height: calc(100%);
}

.unten {
  width: 100%;
}

.storytime {
  display: flex;
}
