.spati-list {
  overflow: scroll;

}

.index-container {
  display: flex;
}

#map {
  margin-top: 15px;
  height: calc(100vh - 150px);
  position: sticky;
  top: 200px;
}

.center {
  align-items: center;
}
