<div id="home">
  <div class="container">
    <div class="text-overlay">
      <h1 class="späti-text">
        <span>W</span><span>h</span><span>e</span><span>r</span><span>e</span>
      </h1>
      <h1 class="späti-text">
        <span>i</span><span>s</span> <span>t</span><span>h</span><span>e</span> <span>n</span><span>e</span><span>x</span><span>t</span>
      </h1>
      <h1 class="späti-text">
        <span>S</span><span>p</span><span>ä</span><span>t</span><span>i</span><span>?</span>
      </h1>
    </div>
  </div>

  <!-- Button zur Karte der Spätis -->
<%= link_to 'späti mäp', spatis_path, class: 'btn btn-primary späti-button' %>

</div>
