<h1>ha</h1>
<h1>ha</h1>
<h1>ha</h1>
<h1>ha</h1>
<h1>ha</h1>
<h1>ha</h1>
<h2>All Stories</h2>

<%= link_to "Create New Story", new_spati_story_path %>

<% @stories.each do |story| %>
  <div>
    <p><%= story.content %></p>
    <%= link_to "Edit", edit_story_path(story) %>
    <%= link_to "Delete", story, method: :delete, data: { confirm: "Biste dir sischer?" } %>
  </div>
  <hr>
<% end %>
