<div class="spati-card story-form-card">
  <h2 class="form-heading">Erzähl deine Spätistöry</h2>

  <%= simple_form_for([@spati, @story]) do |form| %>
    <div class="form-group">
      <%= form.input :content, label: false, input_html: {
        rows: 8,
        class: "story-textarea",
        placeholder: "wat haste erlebt?" } %>
    </div>

    <%= form.submit "Abschicken", class: "btn abschicken-button" %>
  <% end %>
</div>
</div>

<div class="unten">
  <%= link_to spati_path(@spati), class: "btn späti-button" do %>
    hab doch nüscht erlebt
  <% end %>
</div>
