.otto-forms {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    display: block;
  }

  input {
    width: 70vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


// main-container
