.navbar-spatify {
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 150px;
}

.navbar-spatify .navbar-collapse {
  flex-grow: 0;
}

.navbar-spatify .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-spatify .navbar-brand img {
  width: 150px;
  height: auto;
}

.nav-link {
  background-color: black;
  color: yellow;
  margin-right: 20px;
  margin-top: 20px;
  height: 100px; /* Feste Höhe */
  width: 100px; /* Gleiche Breite wie Höhe */
  text-align: center;
  display: flex; /* Flexbox zur besseren Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  // font-size: 20px; /* Schriftgröße anpassen, damit sie in den Button passt */
  text-decoration: none;
  // padding: 15px;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: yellow;
  color: black;
  border: 2px solid black;
}
