.navbar-spatify {
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 150px;
}

.navbar-spatify .navbar-collapse {
  flex-grow: 0;
}

.navbar-spatify .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-spatify .navbar-brand img {
  width: 150px;
  height: auto;
}

.nav-link {
  background-color: red;
  margin-right: 20px;
}

// .fake-navbar {
//   height: 150px;
// }
