.navbar-spatify {
  background: yellow;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-spatify .navbar-collapse {
  flex-grow: 0;
}

.navbar-spatify .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-spatify .navbar-brand img {
  width: 150px;
  height: auto;
}
