.navbar-spatify {
  display: flex;
  justify-content: center; /* Das sorgt dafür, dass das Logo mittig erscheint */
  background: yellow;
  padding: 10px;
  position: relative;
}

.navbar-spatify .navbar-collapse {
  flex-grow: 0;
}

.navbar-spatify .navbar-brand img {
  width: 50px;
}

.navbar-divider {
  background-color: black;
  height: 5px;
  width: 100%; /* Der Streifen nimmt die gesamte Breite der Seite ein */
}
