.login-form-card {
  max-width: 600px;
  margin: 80px auto;
  padding: 40px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px yellow;
  text-align: center;
  font-family: 'Sigmar', sans-serif;
}

.form-heading {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: black;
}

.login-field {
  font-size: 18px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 8px;
  width: 80%;
  background-color: white;
  color: black;
  font-family: 'Sigmar', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.login-button {
  padding: 15px 40px;
  background-color: yellow;
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Sigmar', sans-serif;
}

.login-links {
  margin-top: 20px;
  font-size: 16px;
}



