html, body {
  font-family: 'Sigmar', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

// Graphical variables
@import "config/fonts";
@import "config/colors";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Setzt Sigmar als globale Schriftart
html,body * {
  font-family: 'Sigmar', sans-serif !important;
  text-align: center;
}

.main-container {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

// body {
//   // padding-top: 70px; /* Fügt Abstand oben hinzu, um die fixierte Navbar zu berücksichtigen */

// }

// application.scss
// @import "components/spatis";

.mapboxgl-ctrl-geocoder input {
  height: 48px;
  font-size: 18px;
  background-color: yellow;
  // border: 3px solid black;
  border-radius: 8px;
  padding: 0 10px;
  color: black !important;
}

.mapboxgl-ctrl-geocoder {
  margin: 20px;
}

.marker-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.btn.späti-button.halb {
  flex: 1;
  text-align: center;
}


@media (max-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    width: 160px !important;
    min-width: unset !important;
  }

  .mapboxgl-ctrl-geocoder input {
    height: 48px;
    font-size: 14px;
    padding: 0 6px;
  }
  .button-row {
    padding-left: 0;
    padding-right: 0;
  }

  .btn.späti-button.halb {
    padding-left: 0;
    padding-right: 0;
  }

}
