html, body {
  font-family: 'Sigmar', sans-serif !important;
}
// Graphical variables
@import "config/fonts";
@import "config/colors";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Setzt Sigmar als globale Schriftart
html,body * {
  font-family: 'Sigmar', sans-serif !important;
}

.main-container {
  margin-top: 180px;
}

// body {
//   // padding-top: 70px; /* Fügt Abstand oben hinzu, um die fixierte Navbar zu berücksichtigen */

// }

// application.scss
// @import "components/spatis";
